exclude: '.*\.(pcap|pcapng|dat|txt)'
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: cppcheck
        args: ["--std=c++11", "--language=c++", "--suppressions-list=cppcheckSuppressions.txt", "--inline-suppr", "--force"]
#      - id: clang-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.19
    hooks:
      - id: typos
        args: ['--config=typos-config.toml']
        pass_filenames: false
