astroid==2.4.2
attrs==19.3.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.10.0
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
scapy==2.4.3
six==1.15.0
toml==0.10.1
wcwidth==0.2.5
wrapt==1.12.1
