name: Build and test
on: [push, pull_request]

jobs:
  # linux:
  #   runs-on: ubuntu-20.04
  #   container: seladb/${{ matrix.image }}
  #   strategy:
  #     matrix:
  #      include:
  #        - image: ubuntu2004
  #          python: python3
  #        - image: ubuntu1804
  #          python: python3.8
  #        - image: ubuntu1604
  #          python: python3.8
  #        - image: centos7
  #          python: python3.8
  #          test-flags: -s
  #        - image: fedora34
  #          python: python3

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: ./configure-linux.sh --default

  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: make all

  #   - name: Test Packet++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/Packet++Test
  #       Bin/Packet++Test ${{ matrix.test-flags }}

  #   - name: Test Pcap++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/Pcap++Test
  #       Bin/Pcap++Test -n ${{ matrix.test-flags }}

  #   - name: Test Examples
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/ExamplesTest
  #       ${{ matrix.python }} -m pip install -U pip
  #       ${{ matrix.python }} -m pip install -r requirements.txt
  #       ${{ matrix.python }} -m pytest

  #   - name: Check installation and build Tutorials
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       make install
  #       cd Examples/Tutorials/Tutorial-HelloWorld
  #       make -f Makefile.non_windows all
  #       ./Tutorial-HelloWorld

  dpdk:
    runs-on: ubuntu-20.04
    container:
      image: seladb/${{ matrix.image }}
      options: --privileged --ulimit core=-1
    strategy:
      matrix:
        image: [ubuntu2004-dpdk2011, ubuntu2004-dpdk1911]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure PcapPlusPlus
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: ./configure-linux.sh --dpdk --dpdk-home /dpdk

    - name: Build PcapPlusPlus
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: make all

    - name: Check BMI
      run: grep bmi /proc/cpuinfo

    - name: Check AVX
      run: grep avx /proc/cpuinfo

    - name: Test Packet++
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        ulimit -c unlimited
        sysctl -w kernel.core_pattern="/tmp/core.%t.%e.%p"
        cd Tests/Packet++Test
        find / -name Packet++Test*
        Bin/Packet++Test

    - name: Test Pcap++
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: |
        ulimit -c unlimited
        sysctl -w kernel.core_pattern="/tmp/core.%t.%e.%p"
        cd Tests/Pcap++Test
        find / -name Pcap++Test*
        if [[ $(grep avx512 /proc/cpuinfo) ]]; then Bin/Pcap++Test -n; else echo AVX-512 SUPPORT NOT FOUND, CANNOT RUN Pcap++Test; fi

    - uses: actions/upload-artifact@master
      if: ${{ failure() }}
      with:
        name: crashes
        path: |
          /tmp/core*
          /__w/PcapPlusPlus/PcapPlusPlus/Tests/Pcap++Test/Bin/Pcap++Test
          /__w/PcapPlusPlus/PcapPlusPlus/Tests/Packet++Test/Bin/Packet++Test

  # pfring:
  #   runs-on: ubuntu-20.04
  #   container: seladb/ubuntu2004-pfring

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: ./configure-linux.sh --pf-ring --pf-ring-home /PF_RING

  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: make all

  #   - name: Test Packet++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/Packet++Test
  #       Bin/Packet++Test

  #   - name: Test Pcap++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/Pcap++Test
  #       Bin/Pcap++Test -n

  # macos:
  #   runs-on: ${{ matrix.os-version }}
  #   strategy:
  #     matrix:
  #       os-version: [macos-10.15]

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - uses: actions/setup-python@v2
  #     with:
  #       python-version: '3.8.x'

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: ./configure-mac_os_x.sh

  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: make all

  #   - name: Test Packet++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/Packet++Test
  #       Bin/Packet++Test

  #   - name: Test Pcap++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/Pcap++Test
  #       Bin/Pcap++Test -n

  #   - name: Test Examples
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests/ExamplesTest
  #       python -m pip install -U pip
  #       python -m pip install -r requirements.txt
  #       python -m pytest

  #   - name: Check installation and build Tutorials
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       make install
  #       cd Examples/Tutorials/Tutorial-HelloWorld
  #       make -f Makefile.non_windows all
  #       ./Tutorial-HelloWorld
        
  # macos-apple-silicon-arm64:
  #   runs-on: ${{ matrix.os-version }}
  #   strategy:
  #     matrix:
  #       os-version: [macos-10.15]

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - uses: actions/setup-python@v2
  #     with:
  #       python-version: '3.8.x'

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: ./configure-mac_os_x.sh --arm64

  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: make all

  #   - name: Check for arm64 slice in executables
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Dist && ALL_EXECUTABLES_WITHOUT_SYMLINKS=($(find . -perm +111 -type f)) && for EXECUTABLE in ${ALL_EXECUTABLES_WITHOUT_SYMLINKS[@]}; do echo "Checking for arm64 in $EXECUTABLE"; CHECK_ARCH=$(lipo $EXECUTABLE -verify_arch arm64 2>&1); RETVAL=$?; if [ $RETVAL -eq 1 ]; then echo "Couldn't find arm64 slice in $EXECUTABLE"; exit 1; else echo "Found arm64 slice in $EXECUTABLE"; fi; done

  #   - name: Check for arm64 slice in libraries
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Dist && ALL_LIBRARIES_WITHOUT_SYMLINKS=($(find . -name "*.a" -type f)) &&  for LIBRARY in ${ALL_LIBRARIES_WITHOUT_SYMLINKS[@]}; do echo "Checking for arm64 in $LIBRARY"; CHECK_ARCH=$(lipo $LIBRARY -verify_arch arm64 2>&1); RETVAL=$?; if [ $RETVAL -eq 1 ]; then echo "Couldn't find arm64 slice in $LIBRARY"; exit 1; else echo "Found arm64 slice in $LIBRARY"; fi; done

  # mingw:
  #   runs-on: windows-latest

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Setup MSYS2
  #     uses: msys2/setup-msys2@v2
  #     with:
  #       msystem: MINGW32
  #       install: mingw-w64-i686-gcc mingw-w64-i686-make

  #   - name: Setup Python
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: '3.8.x'

  #   - name: Install NPcap
  #     env:
  #       NPCAP_USERNAME: ${{ secrets.NPCAP_USERNAME }}
  #       NPCAP_PASSWORD: ${{ secrets.NPCAP_PASSWORD }}
  #     run: |
  #       ci\install_npcap.bat
  #       echo "PCAP_SDK_DIR=/C/Npcap-sdk" >> $env:GITHUB_ENV

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     shell: msys2 {0}
  #     run: ./configure-windows-mingw.bat mingw-w64 -m /mingw32 -w ${{ env.PCAP_SDK_DIR }} -s .

  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     shell: msys2 {0}
  #     run: mingw32-make all

  #   - name: Test Packet++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests\Packet++Test
  #       Bin\Packet++Test.exe

  #   - name: Test Pcap++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests\Pcap++Test
  #       Bin\Pcap++Test.exe -n

  #   - name: Test Examples
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests\ExamplesTest
  #       python -m pip install -r requirements.txt
  #       python -m pytest

  # visual-studio:
  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     matrix:
  #      include:
  #        - vs-version: vs2019
  #          os: windows-2019
  #          platform: x64
  #          config: Debug
  #        - vs-version: vs2019
  #          os: windows-2019
  #          platform: x64
  #          config: Release
  #          use_zstd: true
  #        - vs-version: vs2019
  #          os: windows-2019
  #          platform: x86
  #          config: Debug
  #        - vs-version: vs2019
  #          os: windows-2019
  #          platform: x86
  #          config: Release
  #          pcap_lib: npcap
  #        - vs-version: vs2017
  #          os: windows-2016
  #          platform: x86
  #          config: Release
  #          pcap_lib: npcap
  #        - vs-version: vs2017
  #          os: windows-2016
  #          platform: x64
  #          config: Debug

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - uses: actions/setup-python@v2
  #     with:
  #       python-version: '3.8.x'

  #   - name: Add MSBuild to PATH
  #     uses: microsoft/setup-msbuild@v1

  #   - name: Install WinPcap
  #     run: |
  #       ci\install_winpcap.bat
  #       echo "PCAP_SDK_DIR=C:\WpdPack" >> $env:GITHUB_ENV
  #     if: matrix.pcap_lib != 'npcap'

  #   - name: Install NPcap
  #     env:
  #       NPCAP_USERNAME: ${{ secrets.SuperSecret }}
  #     run: |
  #       ci\install_npcap.bat
  #       echo "PCAP_SDK_DIR=C:\Npcap-sdk" >> $env:GITHUB_ENV
  #     if: matrix.pcap_lib == 'npcap'

  #   - name: Download pthreads
  #     run: |
  #       git clone https://github.com/seladb/PcapPlusPlus-Deploy
  #       cd PcapPlusPlus-Deploy\Packages
  #       7z x pthreads-w32-2-9-1-release.zip -oC:\pthreads

  #   - name: Set Zstd
  #     run: |
  #       echo "ZSTD_HOME_PARAM=-z C:\tools\zstd" >> $env:GITHUB_ENV
  #     if: matrix.use_zstd == true

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: ./configure-windows-visual-studio.bat -v ${{matrix.vs-version}} -w ${{ env.PCAP_SDK_DIR }} -p C:\pthreads ${{ env.ZSTD_HOME_PARAM }}

  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: msbuild /m mk\${{matrix.vs-version}}\PcapPlusPlus.sln /p:Configuration=${{matrix.config}} /p:Platform=${{matrix.platform}}

  #   - name: Build Examples
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: msbuild /m mk\${{matrix.vs-version}}\PcapPlusPlus-Examples.sln /p:Configuration=${{matrix.config}} /p:Platform=${{matrix.platform}}

  #   - name: Build Tutorials
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: msbuild /m mk\${{matrix.vs-version}}\Tutorials.sln /p:Configuration=${{matrix.config}} /p:Platform=${{matrix.platform}}

  #   - name: Test Packet++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests\Packet++Test
  #       Bin\Packet++Test.exe

  #   - name: Test Pcap++
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests\Pcap++Test
  #       Bin\Pcap++Test.exe -n

  #   - name: Test Examples
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       cd Tests\ExamplesTest
  #       python -m pip install -r requirements.txt
  #       python -m pytest

  # android:
  #   runs-on: ubuntu-20.04
  #   strategy:
  #     matrix:
  #       target: [armeabi-v7a, arm64-v8a, x86, x86_64]

  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Checkout lipbcap for Android
  #     uses: actions/checkout@main
  #     with:
  #       repository: seladb/libpcap-android
  #       path: ./libpcap-android

  #   - name: Configure PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       NDK_ROOT=${ANDROID_SDK_ROOT}/ndk-bundle
  #       API_VERSION=30
  #       LIBPCAP_PATH=$(pwd)/libpcap-android
  #       TARGET=${{ matrix.target }}
  #       ./configure-android.sh --ndk-path $NDK_ROOT --target $TARGET --api $API_VERSION --libpcap-include-dir $LIBPCAP_PATH/include --libpcap-lib-dir $LIBPCAP_PATH/$TARGET/$API_VERSION
  
  #   - name: Build PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: make all

  #   - name: Checkout ToyVpn-PcapPlusPlus
  #     uses: actions/checkout@master
  #     with:
  #       repository: seladb/ToyVpn-PcapPlusPlus
  #       path: ./ToyVpn-PcapPlusPlus
  #       submodules: true

  #   - name: Copy PcapPlusPlus libs to ToyVpn-PcapPlusPlus
  #     working-directory: ${{env.GITHUB_WORKSPACE}}
  #     run: |
  #       TOYVPN_LIBS=./ToyVpn-PcapPlusPlus/app/libs
  #       API_VERSION=30
  #       PCAPPLUSPLUS_LIBS_PATH=$TOYVPN_LIBS/pcapplusplus/${{ matrix.target }}/$API_VERSION
  #       PCAPPLUSPLUS_INCLUDE_PATH=$TOYVPN_LIBS/pcapplusplus/include
  #       mkdir -p $PCAPPLUSPLUS_LIBS_PATH
  #       mkdir -p $PCAPPLUSPLUS_INCLUDE_PATH
  #       cp Dist/*.a $PCAPPLUSPLUS_LIBS_PATH/
  #       cp -R Dist/header/* $PCAPPLUSPLUS_INCLUDE_PATH/

  #   - name: Build ToyVpn-PcapPlusPlus
  #     working-directory: ./ToyVpn-PcapPlusPlus
  #     run: |
  #       sed -i.bak "s|abiFilters.*$|abiFilters '${{ matrix.target }}'|g" app/build.gradle
  #       chmod +x gradlew
  #       ./gradlew assembleDebug
