name: Build and test
on:
  push:
    branches: ["master", "dev"]
  pull_request:
    branches: ["dev"]
  schedule:
    - cron: '0 0 * * 0' # Run every Sunday at midnight

env:
  BUILD_DIR: Dist
  GCOVR_FLAGS: --gcov-ignore-parse-errors --exclude-throw-branches --filter Common --filter Pcap --filter Packet --xml
  CCACHE_DIR: ${{ github.workspace }}/.ccache
  CPPCHECK_VERSION: 2.9

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !(github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev') }}

jobs:
  freebsd:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["14.1", "13.4"]
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@8873d98fd1413b5977cb2f7348fe329775159892 # v1.1.9
      with:
        release: ${{ matrix.version }}
        usesh: true
        prepare: |
          pkg install -y python bash cmake git gmake gsed libpcap tcpreplay libffi openssl py311-cryptography

        run: |
          set -e

          echo "Building PcapPlusPlus"
          chmod a+rw /dev/bpf*
          cmake -S . -B Dist
          cmake --build Dist -j$(sysctl -n hw.ncpu)

          echo "Setting up the network interface for the tests"
          # Get the first interface name that is not 'lo'
          interface_name=$(ifconfig -l | tr ' ' '\n' | grep -v '^lo' | head -n 1)
          ifconfig "$interface_name" promisc

          echo "Testing PcapPlusPlus"
          python -m ensurepip
          python -m pip install -r ci/run_tests/requirements.txt
          python ci/run_tests/run_tests.py --interface "$interface_name"

          echo "Testing PcapPlusPlus examples"
          cd Tests/ExamplesTest
          python -m pip install -r requirements.txt
          python -m pytest --interface "$interface_name" --root-path=../../Dist/examples_bin
