name: Validate dependabot

on:
  pull_request:
    paths:
      - '.github/dependabot.yml'
      - '.github/workflows/check_dependabot.yml'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: marocchino/validate-dependabot@v2
        id: validate
